<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu 
      <i class="material-icons" id="profile">
        account_circle
        </i>
    </mat-toolbar>
    
    <mat-nav-list>
      <a mat-list-item href="#" id="home">All</a>
      <a mat-list-item href="#">Latest</a>
      <a mat-list-item href="#">Men</a>
      <a mat-list-item href="#">Women</a>
    </mat-nav-list>
  </mat-sidenav>
 
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ProductStore</span>
      <i id="viewcart" class="material-icons ">
        shopping_cart
        </i>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
   
  </mat-sidenav-content>
</mat-sidenav-container>
